html {
    overflow-y: scroll;
}

.card img {


    background-image: url("..\\imgs\\fundo.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.card:hover {
    border: 3px solid #690202;
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}
.card-body{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  background-image: url("..\\imgs\\base.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.cursor-pointer {
    cursor: pointer;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #690202;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f50000; 
  }
.navbar{
  background-color: blanchedalmond;
}
body{
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.bhdw.net/im/anime-one-piece-portgas-d-ace-wallpaper-85559_w635.webp");
}